# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/

# IDE
.vscode/
.idea/

# Temporary files
uploads/
*.log
*.pdf
*.tmp

# Distribution / packaging
dist/
build/
*.egg-info/ 

# Temporary cursor rules and settings
.cursorrules  # Cursor rules configuration file
.cursor/       # Cursor settings file